.splide__slider > .splide__arrows .splide__arrow--prev {
  left: -2.5em;
}
.splide__slider > .splide__arrows .splide__arrow--next {
  right: -2.5em;
}

.splide {
  padding: 3em;
}/*# sourceMappingURL=index.css.map */: 50%;
  display: flex;
  justify-content: center;
  height: 2em;
  width: 2em;
}
.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}
.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}
.splide__arrow:disabled {
  opacity: 0.3;
}
.splide__arrow:focus-visible {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}
.splide__arrow--prev {
  left: 1em;
}
.splide__arrow--prev svg {
  transform: scaleX(-1);
}
.splide__arrow--next {
  right: 1em;
}
.splide.is-focus-in .splide__arrow:focus {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}
.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
  opacity: 0.7;
}
.splide__pagination__page.is-active {
  background: #fff;
  z-index: 1;
  transform: scale(1.4);
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}
.splide__pagination__page:focus-visible {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: transparent;
}
.splide__slide:focus {
  outline: 0;
}
.splide__slide:focus-visible {
  /* IE does not support outline-offset */
}
@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: #0bf 3px solid;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: #0bf 3px solid;
  }
}
.splide.is-focus-in .splide__slide:focus {
  /* IE does not support outline-offset */
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: #0bf 3px solid;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: #0bf 3px solid;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}

.splide__toggle {
  cursor: pointer;
}
.splide__toggle:focus-visible {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}
.splide.is-focus-in .splide__toggle:focus {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}/*# sourceMappingURL=index.css.map */nd (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: #20b2aa 3px solid;
  }
}
.splide.is-focus-in .splide__slide:focus {
  /* IE does not support outline-offset */
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: #20b2aa 3px solid;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: #20b2aa 3px solid;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #20b2aa;
  }
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}
.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  -webkit-animation: splide-loading 1s infinite linear;
          animation: splide-loading 1s infinite linear;
  border: 2px solid #20b2aa;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle__pause {
  display: none;
}
.splide__toggle.is-active .splide__toggle__play {
  display: none;
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@-webkit-keyframes splide-loading {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes splide-loading {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__toggle {
  cursor: pointer;
}
.splide__toggle:focus-visible {
  outline: #20b2aa 3px solid;
  outline-offset: 3px;
}
.splide.is-focus-in .splide__toggle:focus {
  outline: #20b2aa 3px solid;
  outline-offset: 3px;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}
.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}
.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}
.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__slider > .splide__arrows .splide__arrow--prev {
  left: -2.5em;
}
.splide__slider > .splide__arrows .splide__arrow--next {
  right: -2.5em;
}

.splide {
  padding: 3em;
}/*# sourceMappingURL=index.css.map */