.about {
    
    @media screen and (min-width: 480px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .about-title {
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: #212121;
    @media screen and (min-width: 480px) {
      font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
    }
    @media screen and (min-width: 768px) {
      font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
    }
    @media screen and (min-width: 1200px) {
      text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  
    color: #212121;
    }
  }

  .additional {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about-img {
    @media screen and (min-width: 480px) {
      height: 305px;
    }
    @media screen and (min-width: 768px) {
      height: 503px;
    }
    @media screen and (min-width: 1200px) {
      height: 503px;
    }
  }

  .about-wrapper {
    display: flex;
    @media screen and (min-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .about-left {
    padding-right: 30px;
    @media screen and (min-width: 480px) {
      padding-right: 0px;
    }
    @media screen and (min-width: 768px) {
      padding-right: 0px;
    }
    @media screen and (min-width: 1200px) {
      padding-right: 30px;
    }
  }

  

  .about-text {
    line-height: 20px;
    // text-align: center;
  }
