.feedbacks {
    background: linear-gradient(#2f303a66, #2f303a66), url("../images/Julz Photoshoot (LQ) 012.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 480px) {
      
      padding: 60px 0;
    }
    @media screen and (min-width: 768px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      padding-top: 60px;
    padding-bottom: 60px;
    }
}

.feedbacks-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
    }
    @media screen and (min-width: 768px) {
      font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    }
  }

  .feedbacks-cards {
    display: none;
    justify-content: space-between;
    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: -5px 0;
      }
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      @media screen and (min-width: 1200px) {
        display: none;
        flex-direction: row;
        margin: 0 -5px;
      }
  }

  .feedback-card {
    width: 25%;
    background-color: #c4c4c450;
    padding: 50px 20px;
    @media screen and (min-width: 480px) {
        width: 100%;
        flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 768px) {
            width: 100%;
            flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 1200px) {
            width: 25%;
            flex: 1 1 auto;
        margin: 0 5px;
        }
  }

  .feedback-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .feedback-caption {
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .age {
    line-height: 30px;
    color: #ffffff;
    text-align: right;
  }

  // .people-review {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  //     url("../assets/images/Sections backgrounds/people-reviews-bg.jpg");
  //   background-color: #01333e;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  
  //   padding: 100px 0 99px 0;
  //   margin-top: 130px;
  // }
  
  // .people-review .section-header {
  //   color: #fff;
  //   margin-bottom: 99px;
  // }
  .carousel-wrapper {
    position: relative;
    @media screen and (min-width: 480px) {
      display: none;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        display: block;
      }
  }
  
  .reviewer-data-wrapper {
    height: 154px;
  }
  
  .reviewer-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
  
    min-height: 60px;
    margin: 0;
    margin-top: 36px;
  }
  
  .reviewer-name {
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
  
    margin: 0;
    margin-top: 37px;
  }
  
  .reveiwer-age {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
  
    margin: 0;
  }
  
  .avatar-container {
    margin-top: 38px;
    height: 166px;
  }
  .avatar {
    border: 12px solid rgba(196, 196, 196, 0.31);
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 150px;
  }
  
  .thumbnail-container {
    width: 361px;
  
    display: flex;
    justify-content: space-between;
  
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .thumbnail {
    border: 6px solid rgba(196, 196, 196, 0.31);
    border-radius: 50%;
    cursor: pointer;
  
    position: relative;
    height: 50px;
  }
  
  .selected-thumbnail {
    bottom: 15px;
    animation: smoothraise 0.5s ease-in-out;
  }
  
  .deselected-thumbnail {
    animation: smoothfall 0.5s ease-in-out;
  }
  
  @keyframes smoothfall {
    from {
      bottom: 15px;
    }
    to {
      bottom: 0;
    }
  }
  
  @keyframes smoothraise {
    from {
      bottom: 0;
    }
    to {
      bottom: 15px;
    }
  }
  
  .carousel-button {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
    cursor: pointer;
  
    width: 31px;
    height: 31px;
  
    transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
  }
  
  [data-direction="next"] {
    position: absolute;
    bottom: 36.5px;
    right: 338.5px;
    transform: translateY(50%);
  }
  
  [data-direction="previous"] {
    position: absolute;
    bottom: 36.5px;
    left: 338.5px;
    transform: translateY(50%);
  }
  .carousel-button > svg {
    pointer-events: none;
  }
  
  .arrow {
    transition: fill 0.5s ease-in-out;
  }
  
  .carousel-button:hover {
    background: #c4c4c450;
    border: none;
  }
  
  .carousel-button:hover .arrow {
    fill: #fff;
  }
  