.header {
    background-color: white;
    padding: 32px 0;
    border-bottom: 1px solid #ececec;
    // position: fixed;
    width: 100%;
    z-index: 2;
    @media screen and (min-width: 480px) {
      padding: 16px 0;
    }
    @media screen and (min-width: 768px) {
      padding: 23px 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 32px 0;
    }
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header-list {
    @media screen and (min-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 60px;
    }
    @media screen and (min-width: 1200px) {
      // width: 696px;
      display: flex;
      margin-left: 60px;
    }
  }

  .img-logo {
    height: 40px;
  }
  
  .header__item {
    margin-right: 30px;
  }
  
//   .header-contacts {
//     @media screen and (min-width: 480px) {
//       display: none;
//     }
//     @media screen and (min-width: 768px) {
//       display: flex;
//       flex-direction: column;
//     }
//     @media screen and (min-width: 1200px) {
//       display: flex;
//       flex-direction: row;
//     }
//   }
  
//   .header-contacts {
//     a {
//       transition: 0.5s;
//       &:hover {
//         color: var(--accent-color);
//       }
//     }
//   }
  
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: 0.5s;
    padding: 32px 0;
    &:hover {
      color: var(--accent-color);
    };
    &:focus {
      color: var(--accent-color);
    }
  }
  
//   .header-contact-icon {
//     width: 20px;
//     height: 20px;
//     margin-right: 5px;
//     fill: #757575;
//     transition: 0.5s;
//   }
  
//   .header__mail {
//     font-family: "Roboto";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: #757575;
//     align-items: center;
//     display: flex;
//     margin-left: 50px;
//     @media screen and (min-width: 768px) {
//       margin-left: 0;
//       margin-bottom: 10px;
//     }
//     @media screen and (min-width: 1200px) {
//       margin-left: 50px;
//       margin-bottom: 0;
//     }
//   }
  
//   .header__tel {
//     font-family: "Roboto";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: #757575;
//     align-items: center;
//     display: flex;
//     margin-left: 50px;
//     @media screen and (min-width: 768px) {
//       margin-left: 0;
//     }
//     @media screen and (min-width: 1200px) {
//       margin-left: 50px;
//     }
//   }
  
//   .header__mail, .header__tel {
//     &:hover path {
//       fill: #2196f3;
//     }
//   }
  
//   .header-contact-icon {
//     margin-right: 10px;
//     transition: .5s;
//   }
  
  .header-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-btn-color);
  }
  
  .menu-open-btn {
    background: transparent;
    border: none;
    
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  
  .menu-close-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 21px;
    right: 25px;
    // position: relative;
    // right: 105px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .mob__item {
    font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  
  color: #212121;
  &:not(:last-child) {
  margin-bottom: 32px;
  }
  &:hover {
  color: #2196f3;
  }
  &:focus {
  color: #2196f3;
  }
  }
  
//   .mob-contacts {
//     display: flex;
//     flex-direction: column;
//   }
  
//   .mob__tel {
//     font-weight: 500;
//   font-size: 34px;
//   line-height: 40px;
//   /* identical to box height */
  
//   letter-spacing: 0.02em;
  
//   color: #212121;
//   margin-bottom: 32px;
//   &:hover {
//   color: #2196f3;
//   }
//   &:focus {
//   color: #2196f3;
//   }
//   }
  
//   .mob__mail {
//     font-weight: 500;
//   font-size: 24px;
//   line-height: 28px;
//   letter-spacing: 0.02em;
  
//   color: #757575;
//   margin-bottom: 64px;
//   &:hover {
//   color: #2196f3;
//   }
//   &:focus {
//   color: #2196f3;
//   }
//   }
  
//   .mob-soc-list {
//     display: flex;
//   }
  
//   .mob-soc-link {
//     font-weight: 500;
//   font-size: 18px;
//   line-height: 22px;
//   /* identical to box height, or 122% */
  
//   letter-spacing: 0.02em;
  
//   color: #2196F3;
  
//   }
  
//   .mob-soc__item {
//     &:not(:last-child) {
//       padding-right: 10px;
//       border-right: 1px solid rgba(33, 33, 33, 0.2);
//     }
//     &:not(:first-child) {
//       padding-left: 10px;
//     }
//   }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
