.hero {
    background: linear-gradient(#2f303a66, #2f303a66), url("../images/Julz_Photoshoot_(LQ)_022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    padding-top: 200px;
    padding-bottom: 210px;
    text-align: center;
    // margin-top: 90px;
    @media screen and (min-width: 480px) {
      
      padding: 118px 0;
      // margin-top: 75px;
    }
    @media screen and (min-width: 768px) {
      padding: 118px 0;
      // margin-top: 90px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      padding-top: 200px;
    padding-bottom: 210px;
    // margin-top: 90px;
    }
  }
  
  .hero-container {
    width: 696px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      width: 75%;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 1200px) {
      width: 696px;
    }
  }
  
  .hero-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
    }
    @media screen and (min-width: 768px) {
      font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    }
  }
  
  .hero__btn {
    padding: 10px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #c4c4c450;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    @media screen and (min-width: 480px) {
      font-weight: 700;
font-size: 16px;
line-height: 30px;
    }
    @media screen and (min-width: 768px) {
      font-weight: 700;
font-size: 16px;
line-height: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    }
  }
